<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<p-tabView>
    <p-tabPanel header="Contrôles">
        <div class="card">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <p-dropdown
                        [options]="chantiers"
                        [(ngModel)]="chantierId"
                        (ngModelChange)="onChantierChange()"
                        optionLabel="nom"
                        optionValue="id"
                        placeholder="Sélectionner un chantier"
                        [filter]="true"
                        filterBy="nom"
                        [style]="{ width: '20rem' }"
                    ></p-dropdown>
                </ng-template>
                <ng-template pTemplate="right">
                    <button
                        *ngIf="isSuperAdmin || isControleur"
                        pButton
                        type="button"
                        icon="pi pi-plus"
                        label="Nouveau contrôle"
                        [disabled]="!chantierId"
                        (click)="nouveauControle()"
                    ></button>
                </ng-template>
            </p-toolbar>

            <p-table #dtControles [value]="controles" dataKey="id" [loading]="loadingControles" [paginator]="true" [rows]="10">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Début</th>
                        <th>Fin</th>
                        <th>Remarques</th>
                        <th>Statut</th>
                        <th style="width: 10rem"></th>
                    </tr>
                    <tr>
                        <th><p-columnFilter type="text" field="dateControle" matchMode="contains" [showMenu]="false" placeholder="Filtrer..."></p-columnFilter></th>
                        <th><p-columnFilter type="text" field="dateFin" matchMode="contains" [showMenu]="false" placeholder="Filtrer..."></p-columnFilter></th>
                        <th><p-columnFilter type="text" field="remarques" matchMode="contains" [showMenu]="false" placeholder="Filtrer..."></p-columnFilter></th>
                        <th>
                            <p-columnFilter field="termine" matchMode="equals" [showMenu]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown [ngModel]="value" (ngModelChange)="filter($event)" [options]="[{label: 'Terminé', value: true}, {label: 'En cours', value: false}]" optionLabel="label" optionValue="value" placeholder="Tous" [showClear]="true" [appendTo]="'body'" styleClass="w-full"></p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr *ngFor="let i of [0,1,2,3,4]">
                        <td colspan="12"><p-skeleton height="1.25rem"></p-skeleton></td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-controle>
                    <tr>
                        <td>{{ controle.dateControle }}</td>
                        <td>{{ controle.dateFin }}</td>
                        <td>{{ controle.remarques }}</td>
                        <td>
                            <p-tag [severity]="controle.termine ? 'success' : 'warning'" [value]="controle.termine ? 'Terminé' : 'En cours'"></p-tag>
                        </td>
                        <td>
                            <div class="flex align-items-center gap-1 flex-nowrap">
                                <button *ngIf="isSuperAdmin" pButton type="button" label="Générer un rapport" class="p-button-text" (click)="ouvrirGenerationRapport(controle)"></button>
                                <button pButton type="button" icon="pi pi-pencil" class="p-button-text p-button-rounded" pTooltip="Modifier" [routerLink]="['/controles', controle.id]"></button>
                                <button *ngIf="isSuperAdmin" pButton type="button" icon="pi pi-trash" class="p-button-text p-button-rounded p-button-danger" pTooltip="Supprimer" (click)="confirmerSuppression(controle)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr><td colspan="5" class="text-center text-500">{{ chantierId ? 'Aucun contrôle pour ce chantier.' : 'Sélectionnez un chantier.' }}</td></tr>
                </ng-template>
            </p-table>
        </div>
    </p-tabPanel>

    <p-tabPanel header="Rapports">
        <div class="card">
            <p-table #dtRapports [value]="rapports" dataKey="id" [loading]="loadingRapports" [paginator]="true" [rows]="10">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Salariés contrôlés</th>
                        <th>Accords</th>
                        <th>Refus</th>
                        <th>Nouvelles entreprises</th>
                        <th>Nouveaux salariés</th>
                        <th>Détachés</th>
                        <th>Envoi</th>
                        <th style="width: 8rem"></th>
                    </tr>
                    <tr>
                        <th><p-columnFilter type="numeric" field="nbSalariesControles" matchMode="equals" [showMenu]="false" [showButtons]="false" placeholder="Filtrer..."></p-columnFilter></th>
                        <th><p-columnFilter type="numeric" field="nbAccords" matchMode="equals" [showMenu]="false" [showButtons]="false" placeholder="Filtrer..."></p-columnFilter></th>
                        <th><p-columnFilter type="numeric" field="nbRefus" matchMode="equals" [showMenu]="false" [showButtons]="false" placeholder="Filtrer..."></p-columnFilter></th>
                        <th><p-columnFilter type="numeric" field="nbNouvellesEntreprises" matchMode="equals" [showMenu]="false" [showButtons]="false" placeholder="Filtrer..."></p-columnFilter></th>
                        <th><p-columnFilter type="numeric" field="nbNouveauxSalaries" matchMode="equals" [showMenu]="false" [showButtons]="false" placeholder="Filtrer..."></p-columnFilter></th>
                        <th><p-columnFilter type="numeric" field="nbSalariesDetaches" matchMode="equals" [showMenu]="false" [showButtons]="false" placeholder="Filtrer..."></p-columnFilter></th>
                        <th></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr *ngFor="let i of [0,1,2,3,4]">
                        <td colspan="12"><p-skeleton height="1.25rem"></p-skeleton></td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rapport>
                    <tr class="cursor-pointer" [routerLink]="['/controles/rapports', rapport.id]">
                        <td>{{ rapport.nbSalariesControles }}</td>
                        <td>{{ rapport.nbAccords }}</td>
                        <td>{{ rapport.nbRefus }}</td>
                        <td>{{ rapport.nbNouvellesEntreprises }}</td>
                        <td>{{ rapport.nbNouveauxSalaries }}</td>
                        <td>{{ rapport.nbSalariesDetaches }}</td>
                        <td>
                            <p-tag *ngIf="rapport.dateEnvoi" severity="success" value="Envoyé"></p-tag>
                            <p-tag *ngIf="!rapport.dateEnvoi" severity="warning" value="Non envoyé"></p-tag>
                        </td>
                        <td>
                            <button pButton type="button" icon="pi pi-eye" class="p-button-text p-button-rounded" pTooltip="Voir le rapport" [routerLink]="['/controles/rapports', rapport.id]" (click)="$event.stopPropagation()"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr><td colspan="8" class="text-center text-500">Aucun rapport généré.</td></tr>
                </ng-template>
            </p-table>
        </div>
    </p-tabPanel>
</p-tabView>
