<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<div class="card">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <h5 class="m-0">{{ 'chantier.title' | translate }}</h5>
        </ng-template>
        <ng-template pTemplate="right">
            <button *ngIf="isSuperAdmin" pButton type="button" icon="pi pi-plus" [label]="'common.add' | translate" routerLink="/chantiers/nouveau"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="chantiers" [loading]="loading" [paginator]="true" [rows]="10" dataKey="id">
        <ng-template pTemplate="header">
            <tr>
                <th>{{ 'chantier.nom' | translate }}</th>
                <th>{{ 'chantier.client' | translate }}</th>
                <th>{{ 'chantier.ville' | translate }}</th>
                <th>{{ 'chantier.dateDebut' | translate }}</th>
                <th>{{ 'chantier.statut' | translate }}</th>
                <th style="width: 8rem"></th>
            </tr>
            <tr>
                <th><p-columnFilter type="text" field="nom" matchMode="contains" [showMenu]="false" placeholder="Filtrer..."></p-columnFilter></th>
                <th><p-columnFilter type="text" field="nomClientCalcule" matchMode="contains" [showMenu]="false" placeholder="Filtrer..."></p-columnFilter></th>
                <th><p-columnFilter type="text" field="ville" matchMode="contains" [showMenu]="false" placeholder="Filtrer..."></p-columnFilter></th>
                <th><p-columnFilter type="text" field="dateDebut" matchMode="contains" [showMenu]="false" placeholder="Filtrer..."></p-columnFilter></th>
                <th>
                    <p-columnFilter field="statut" matchMode="equals" [showMenu]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown [ngModel]="value" (ngModelChange)="filter($event)" [options]="[{label: 'Actif', value: 'ACTIF'}, {label: 'Inactif', value: 'INACTIF'}]" optionLabel="label" optionValue="value" placeholder="Tous" [showClear]="true" [appendTo]="'body'" styleClass="w-full"></p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody">
            <tr *ngFor="let i of [0,1,2,3,4]">
                <td colspan="12"><p-skeleton height="1.25rem"></p-skeleton></td>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-chantier>
            <tr class="cursor-pointer" [routerLink]="['/chantiers', chantier.id]">
                <td>{{ chantier.nom }}</td>
                <td>{{ nomClient(chantier.clientId) }}</td>
                <td>{{ chantier.ville }}</td>
                <td>{{ chantier.dateDebut }}</td>
                <td>
                    <p-tag [severity]="chantier.statut === 'ACTIF' ? 'success' : 'danger'" [value]="chantier.statut"></p-tag>
                </td>
                <td>
                    <div class="flex align-items-center gap-1 flex-nowrap">
                        <button
                            pButton
                            type="button"
                            icon="pi pi-pencil"
                            class="p-button-text p-button-rounded"
                            pTooltip="Modifier"
                            [routerLink]="['/chantiers', chantier.id]"
                            (click)="$event.stopPropagation()"
                        ></button>
                        <button
                            *ngIf="isSuperAdmin"
                            pButton
                            type="button"
                            [icon]="chantier.statut === 'ACTIF' ? 'pi pi-ban' : 'pi pi-check'"
                            class="p-button-text p-button-rounded"
                            [pTooltip]="(chantier.statut === 'ACTIF' ? 'common.deactivate' : 'common.activate') | translate"
                            (click)="confirmerBasculeStatut(chantier); $event.stopPropagation()"
                        ></button>
                        <button
                            *ngIf="isSuperAdmin"
                            pButton
                            type="button"
                            icon="pi pi-trash"
                            class="p-button-text p-button-rounded p-button-danger"
                            pTooltip="Supprimer"
                            (click)="confirmerSuppression(chantier); $event.stopPropagation()"
                        ></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
