<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<div class="card">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <h5 class="m-0">Planification des envois</h5>
        </ng-template>
        <ng-template pTemplate="right">
            <button pButton type="button" icon="pi pi-plus" label="Planifier un envoi" routerLink="/messagerie/planification/nouveau"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="messages" dataKey="id" [loading]="loading" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header">
            <tr>
                <th>Destinataires</th>
                <th>Sujet</th>
                <th>Date d'envoi prévue</th>
                <th>Statut</th>
                <th></th>
            </tr>
            <tr>
                <th>
                    <p-columnFilter field="cibleGroupe" matchMode="equals" [showMenu]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown [ngModel]="value" (ngModelChange)="filter($event)" [options]="[{label: 'Destinataire spécifique', value: 'SPECIFIQUE'}, {label: 'Tous les utilisateurs', value: 'TOUS_UTILISATEURS'}, {label: 'Tous les clients', value: 'TOUS_CLIENTS'}, {label: 'Toutes les entreprises', value: 'TOUTES_ENTREPRISES'}, {label: 'Tous les salariés', value: 'TOUS_SALARIES'}]" optionLabel="label" optionValue="value" placeholder="Tous" [showClear]="true" [appendTo]="'body'" styleClass="w-full"></p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th><p-columnFilter type="text" field="sujet" matchMode="contains" [showMenu]="false" placeholder="Filtrer..."></p-columnFilter></th>
                <th><p-columnFilter type="text" field="dateEnvoiPrevue" matchMode="contains" [showMenu]="false" placeholder="Filtrer..."></p-columnFilter></th>
                <th>
                    <p-columnFilter field="statut" matchMode="equals" [showMenu]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown [ngModel]="value" (ngModelChange)="filter($event)" [options]="[{label: 'En attente', value: 'EN_ATTENTE'}, {label: 'Envoyé', value: 'ENVOYE'}, {label: 'Annulé', value: 'ANNULE'}]" optionLabel="label" optionValue="value" placeholder="Tous" [showClear]="true" [appendTo]="'body'" styleClass="w-full"></p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody">
            <tr *ngFor="let i of [0,1,2,3,4]">
                <td colspan="12"><p-skeleton height="1.25rem"></p-skeleton></td>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-message>
            <tr>
                <td>{{ cibleLabels[message.cibleGroupe] }}</td>
                <td>{{ message.sujet }}</td>
                <td>{{ message.dateEnvoiPrevue | date: 'short' }}</td>
                <td><p-tag [severity]="statutSeverity(message.statut)" [value]="message.statut"></p-tag></td>
                <td>
                    <button
                        *ngIf="message.statut === 'EN_ATTENTE'"
                        pButton
                        type="button"
                        icon="pi pi-times"
                        class="p-button-text p-button-rounded p-button-danger"
                        pTooltip="Annuler"
                        (click)="confirmerAnnulation(message)"
                    ></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr><td colspan="5" class="text-center text-500">Aucun envoi planifié.</td></tr>
        </ng-template>
    </p-table>
</div>
