<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left"><h5 class="m-0">Messagerie</h5></ng-template>
        <ng-template pTemplate="right">
            <button pButton type="button" icon="pi pi-plus" label="Nouveau message" routerLink="/messagerie/nouveau"></button>
        </ng-template>
    </p-toolbar>

    <p-tabView [(activeIndex)]="activeTabIndex">
        <p-tabPanel header="Boîte de réception">
            <p-table #dtReception [value]="reception" dataKey="id">
                <ng-template pTemplate="header">
                    <tr>
                        <th></th>
                        <th>Sujet</th>
                        <th>Message</th>
                        <th>Date</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th><p-columnFilter type="text" field="sujet" matchMode="contains" [showMenu]="false" placeholder="Filtrer..."></p-columnFilter></th>
                        <th><p-columnFilter type="text" field="contenu" matchMode="contains" [showMenu]="false" placeholder="Filtrer..."></p-columnFilter></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-message>
                    <tr [ngClass]="{ 'font-bold': !message.lu }" (click)="marquerLu(message)" style="cursor: pointer;">
                        <td><i class="pi" [ngClass]="message.lu ? 'pi-envelope-open' : 'pi-envelope'"></i></td>
                        <td>{{ message.sujet }}</td>
                        <td>{{ message.contenu }}</td>
                        <td>{{ message.createdAt | date: 'short' }}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr><td colspan="4" class="text-center text-500">Aucun message reçu.</td></tr>
                </ng-template>
            </p-table>
        </p-tabPanel>

        <p-tabPanel header="Envoyés">
            <p-table #dtEnvoyes [value]="envoyes" dataKey="id">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Destinataire</th>
                        <th>Sujet</th>
                        <th>Message</th>
                        <th>Date</th>
                    </tr>
                    <tr>
                        <th>
                            <p-columnFilter field="destinataireType" matchMode="equals" [showMenu]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown [ngModel]="value" (ngModelChange)="filter($event)" [options]="[{label: 'Client', value: 'CLIENT'}, {label: 'Entreprise', value: 'ENTREPRISE'}, {label: 'Utilisateur', value: 'UTILISATEUR'}]" optionLabel="label" optionValue="value" placeholder="Tous" [showClear]="true" [appendTo]="'body'" styleClass="w-full"></p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                        <th><p-columnFilter type="text" field="sujet" matchMode="contains" [showMenu]="false" placeholder="Filtrer..."></p-columnFilter></th>
                        <th><p-columnFilter type="text" field="contenu" matchMode="contains" [showMenu]="false" placeholder="Filtrer..."></p-columnFilter></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-message>
                    <tr>
                        <td><p-tag severity="info" [value]="message.destinataireType"></p-tag></td>
                        <td>{{ message.sujet }}</td>
                        <td>{{ message.contenu }}</td>
                        <td>{{ message.createdAt | date: 'short' }}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr><td colspan="4" class="text-center text-500">Aucun message envoyé.</td></tr>
                </ng-template>
            </p-table>
        </p-tabPanel>

        <p-tabPanel header="Planification">
            <app-planification-list></app-planification-list>
        </p-tabPanel>

        <p-tabPanel header="Automatisation">
            <app-automatisation-list></app-automatisation-list>
        </p-tabPanel>
    </p-tabView>
</div>
